In [8]:
from collections import OrderedDict
import json
from os import listdir
from os.path import isfile, join
import psycopg2
import psycopg2.extras #used for dict cursor

In [34]:
def connect():
    """Creates a connection to a local PG database."""
    #parameter format for local use
    params = {
    'dbname':'hmda',
    'user':'roellk',
    'password':'',
    'host':'localhost',}
    try:
        conn = psycopg2.connect(**params)
    except psycopg2.Error as e: #if database connection results in an error print the following
        print("I am unable to connect to the database: ", e)
    return conn.cursor(), conn #returns connection and cursor

In [35]:

#build lists of data files for loading into db
ts_data_path = "/Users/roellk/Desktop/HMDA/hmda_data_public/ts/"
ts_files = [f for f in listdir(ts_data_path) if isfile(join(ts_data_path, f))]
ts_files = [f for f in lar_files if f!=".DS_Store"]
panel_data_path = "/Users/roellk/Desktop/HMDA/hmda_data_public/panel/"
panel_files = [f for f in listdir(panel_data_path) if isfile(join(panel_data_path, f))]
panel_files = [f for f in lar_files if f!=".DS_Store"]
lar_data_path = "/Users/roellk/Desktop/HMDA/hmda_data_public/lar/"
lar_files = [f for f in listdir(lar_data_path) if isfile(join(lar_data_path, f))]
lar_files = [f for f in lar_files if f!=".DS_Store"]

In [36]:
#load SQL script from file
#load Panel data
#load TS data
#load LAR data

#set up lists for looping. Divide by file format
#FFIEC files use CSV format and have most recent 3 years
lar_2014_2016 = ['LAR_2014', 'LAR_2015', 'LAR_2016']
#archives files used fixed width format
lar_2004_2013 = ['LAR_2004', 'LAR_2005', 'LAR_2006', 'LAR_2007', 'LAR_2008', 'LAR_2009', 'LAR_2010', 'LAR_2011',
                'LAR_2012', 'LAR_2013']


with open("../sql/lar_2004-2013.sql") as sql_file: #get sql script
    sql = sql_file.read()
print(sql)

DROP TABLE IF EXISTS {table};
CREATE TABLE {table}
(  year integer,
    rid varchar,
    agency integer,
    loan_type varchar,
    loan_purpose varchar,
    occupancy varchar,
    loan_amount varchar,
    action_type varchar,
    msa varchar,
    state_code varchar,
    county_code varchar,
    census_tract varchar,
    app_sex varchar,
    co_app_sex varchar,
    income varchar,
    purchaser_type varchar,
    denial_1 varchar,
    denial_2 varchar,
    denial_3 varchar,
    edit_status varchar,
    property_type varchar,
    preapproval varchar,
    app_ethnicity varchar,
    co_app_ethnicity varchar,
    app_race_1 varchar,
    app_race_2 varchar,
    app_race_3 varchar,
    app_race_4 varchar,
    app_race_5 varchar,
    co_app_race_1 varchar,
    co_app_race_2 varchar,
    co_app_race_3 varchar,
    co_app_race_4 varchar,
    co_app_race_5 varchar,
    rate_spread varchar,
    hoepa varchar,
    lien_status varchar,
    sequence_num varchar
)

WITH (
  OIDS=TRUE
);
ALTER TABLE {table}
  OWNER TO roellk; COMMIT;

  CREATE TEMPORARY TABLE lar_load
  (LAR varchar); -- LAR contains an entire LAR record

  COPY lar_load
    FROM '{data_file}';
    COMMIT;

INSERT INTO {table} (
    year,
    rid,
    agency,
    loan_type,
    loan_purpose,
    occupancy,
    loan_amount,
    action_type,
    msa,
    state_code,
    county_code,
    census_tract,
    app_sex ,
    co_app_sex,
    income,
    purchaser_type,
    denial_1,
    denial_2,
    denial_3,
    edit_status,
    property_type,
    preapproval,
    app_ethnicity,
    co_app_ethnicity,
    app_race_1,
    app_race_2,
    app_race_3,
    app_race_4,
    app_race_5,
    co_app_race_1,
    co_app_race_2,
    co_app_race_3,
    co_app_race_4,
    co_app_race_5,
    rate_spread,
    hoepa,
    lien_status,
    sequence_num)

SELECT
SUBSTRING(LAR, 1,4),
SUBSTRING(LAR, 5,10),
SUBSTRING(LAR, 15,1),
SUBSTRING(LAR, 16,1),
SUBSTRING(LAR, 17,1),
SUBSTRING(LAR, 18,1),
SUBSTRING(LAR, 19,5),
SUBSTRING(LAR, 24,1),
SUBSTRING(LAR, 25,5),
SUBSTRING(LAR, 30,2),
SUBSTRING(LAR, 32,3),
SUBSTRING(LAR, 35,7),
SUBSTRING(LAR, 42,1),
SUBSTRING(LAR, 43,1),
SUBSTRING(LAR, 44,4),
SUBSTRING(LAR, 48,1),
SUBSTRING(LAR, 49,1),
SUBSTRING(LAR, 50,1),
SUBSTRING(LAR, 51,1),
SUBSTRING(LAR, 52,1),
SUBSTRING(LAR, 53,1),
SUBSTRING(LAR, 54,1),
SUBSTRING(LAR, 55,1),
SUBSTRING(LAR, 56,1),
SUBSTRING(LAR, 57,1),
SUBSTRING(LAR, 58,1),
SUBSTRING(LAR, 59,1),
SUBSTRING(LAR, 60,1),
SUBSTRING(LAR, 61,1),
SUBSTRING(LAR, 62,1),
SUBSTRING(LAR, 63,1),
SUBSTRING(LAR, 64,1),
SUBSTRING(LAR, 65,1),
SUBSTRING(LAR, 66,1),
SUBSTRING(LAR, 67,5),
SUBSTRING(LAR, 72,1),
SUBSTRING(LAR, 73,1),
SUBSTRING(LAR, 74,7)

FROM lar_load
;COMMIT;
DROP TABLE IF EXISTS lar_load; COMMIT;

In [37]:
pg_conn = connect()
for file in lar_files:
    table_name = "lar_"+file[:-11] + "_ffiec"
    print(table_name)
    with open("../sql/lar_2004-2013.sql") as sql_file: #get sql script
        sql = sql_file.read()
    sql = sql.format(table=table_name, data_file=lar_data_path+file)
    print(sql)
    conn.execute(sql,) #execute SQL to database
pg_conn.close()

lar_2004_ffiec

DROP TABLE IF EXISTS lar_2004_ffiec;
CREATE TABLE lar_2004_ffiec
(  year integer,
    rid varchar,
    agency integer,
    loan_type varchar,
    loan_purpose varchar,
    occupancy varchar,
    loan_amount varchar,
    action_type varchar,
    msa varchar,
    state_code varchar,
    county_code varchar,
    census_tract varchar,
    app_sex varchar,
    co_app_sex varchar,
    income varchar,
    purchaser_type varchar,
    denial_1 varchar,
    denial_2 varchar,
    denial_3 varchar,
    edit_status varchar,
    property_type varchar,
    preapproval varchar,
    app_ethnicity varchar,
    co_app_ethnicity varchar,
    app_race_1 varchar,
    app_race_2 varchar,
    app_race_3 varchar,
    app_race_4 varchar,
    app_race_5 varchar,
    co_app_race_1 varchar,
    co_app_race_2 varchar,
    co_app_race_3 varchar,
    co_app_race_4 varchar,
    co_app_race_5 varchar,
    rate_spread varchar,
    hoepa varchar,
    lien_status varchar,
    sequence_num varchar
)

WITH (
  OIDS=TRUE
);
ALTER TABLE lar_2004_ffiec
  OWNER TO roellk; COMMIT;

  CREATE TEMPORARY TABLE lar_load
  (LAR varchar); -- LAR contains an entire LAR record

  COPY lar_load
    FROM '/Users/roellk/Desktop/HMDA/hmda_data_public/lar/2004HMDALAR.dat';
    COMMIT;

INSERT INTO lar_2004_ffiec (
    year,
    rid,
    agency,
    loan_type,
    loan_purpose,
    occupancy,
    loan_amount,
    action_type,
    msa,
    state_code,
    county_code,
    census_tract,
    app_sex ,
    co_app_sex,
    income,
    purchaser_type,
    denial_1,
    denial_2,
    denial_3,
    edit_status,
    property_type,
    preapproval,
    app_ethnicity,
    co_app_ethnicity,
    app_race_1,
    app_race_2,
    app_race_3,
    app_race_4,
    app_race_5,
    co_app_race_1,
    co_app_race_2,
    co_app_race_3,
    co_app_race_4,
    co_app_race_5,
    rate_spread,
    hoepa,
    lien_status,
    sequence_num)

SELECT
SUBSTRING(LAR, 1,4),
SUBSTRING(LAR, 5,10),
SUBSTRING(LAR, 15,1),
SUBSTRING(LAR, 16,1),
SUBSTRING(LAR, 17,1),
SUBSTRING(LAR, 18,1),
SUBSTRING(LAR, 19,5),
SUBSTRING(LAR, 24,1),
SUBSTRING(LAR, 25,5),
SUBSTRING(LAR, 30,2),
SUBSTRING(LAR, 32,3),
SUBSTRING(LAR, 35,7),
SUBSTRING(LAR, 42,1),
SUBSTRING(LAR, 43,1),
SUBSTRING(LAR, 44,4),
SUBSTRING(LAR, 48,1),
SUBSTRING(LAR, 49,1),
SUBSTRING(LAR, 50,1),
SUBSTRING(LAR, 51,1),
SUBSTRING(LAR, 52,1),
SUBSTRING(LAR, 53,1),
SUBSTRING(LAR, 54,1),
SUBSTRING(LAR, 55,1),
SUBSTRING(LAR, 56,1),
SUBSTRING(LAR, 57,1),
SUBSTRING(LAR, 58,1),
SUBSTRING(LAR, 59,1),
SUBSTRING(LAR, 60,1),
SUBSTRING(LAR, 61,1),
SUBSTRING(LAR, 62,1),
SUBSTRING(LAR, 63,1),
SUBSTRING(LAR, 64,1),
SUBSTRING(LAR, 65,1),
SUBSTRING(LAR, 66,1),
SUBSTRING(LAR, 67,5),
SUBSTRING(LAR, 72,1),
SUBSTRING(LAR, 73,1),
SUBSTRING(LAR, 74,7)

FROM lar_load
;COMMIT;
DROP TABLE IF EXISTS lar_load; COMMIT;

AttributeError: 'psycopg2.extensions.connection' object has no attribute 'execute'